<a href="https://colab.research.google.com/github/mahbuba457/Python-Basic-/blob/master/(Notebook2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **IF statement**

---

In [ ]:
gpa = 70
if gpa>=60:
  print("passed")

passed

# **If else statement**

---

In [ ]:
gpa =70
if gpa>=60:
  print("passed")
else:
  print("fail")

passed

# **Conditional expression**

---

In [ ]:
result=('passed'if gpa>=60 else 'Failed')
print(result)

passed

## **IF....Elif...else statement**

In [ ]:
gpa = 90

if gpa >= 90:
    print('A+')
elif gpa >= 80:
    print('A')
elif gpa >= 70:
    print('A-')
elif gpa >= 60:
    print('B')
else:
    print('B-')

A+

# **While Statement**

---

In [ ]:
num = 1

while (num<50):
  print(num, end=" ") 
  num+=1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

*while statement to find the first power of 3 larger than 50:*

In [ ]:
product = 5

while product<=70:
  product = product*5

In [ ]:
print(product)

125

# **For statement**

---

In [ ]:
for character in "Python is fun":
  print(character, end=" ")

P y t h o n   i s   f u n

*Built in Range Function*

*Let’s use a for statement and the built-in range function to iterate precisely 10 times, displaying the values from 0 through 19:*

In [ ]:
for counter in range(20):
  print(counter, end=" ")

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

Use the range function and a for statement to calculate the total of the integers from 0 through 1,000,00000.

In [ ]:
total = 0
for num in range(100000001):
  total = total+num

print(total)

5000000050000000

Function range also has two- and three-argument versions. As you’ve seen, range’s one argument version produces a sequence of consecutive integers from 0 up to, but not including, the argument’s value. Function range’s two-argument version produces a sequence of consecutive integers from its first argument’s value up to, but not including, the second argument’s value, as in:

In [ ]:
for num in range(5,50):
  print(num, end=" ")

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49

Function range’s three-argument version produces a sequence of integers from its first argument’s value up to, but not including, the second argument’s value, incrementing by the third argument’s value, which is known as the step:

In [ ]:
for number in range(0,50,5):
  print(number, end=" ")

0 5 10 15 20 25 30 35 40 45

If the third argument is negative, the sequence progresses from the first argument’s value down to, but not including the second argument’s value, decrementing by the third argument’s value, as in:

In [ ]:
for num in range(20,0,-2):
  print(num, end=" ")

20 18 16 14 12 10 8 6 4 2

*Number table print using range function*


---



---



Take an input from user and print the number table

In [ ]:
num =  int(input())

20

In [ ]:
for i in range(1,20):
  print(num,"X",i,"=",num*i)

20 X 1 = 20
20 X 2 = 40
20 X 3 = 60
20 X 4 = 80
20 X 5 = 100
20 X 6 = 120
20 X 7 = 140
20 X 8 = 160
20 X 9 = 180
20 X 10 = 200
20 X 11 = 220
20 X 12 = 240
20 X 13 = 260
20 X 14 = 280
20 X 15 = 300
20 X 16 = 320
20 X 17 = 340
20 X 18 = 360
20 X 19 = 380

*Nested For Loop*


---

In [ ]:
for left in range(20):
    for right in range(left,20):
        print("["+str(left)+"|"+str(right)+"]", end =" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6] [0|7] [0|8] [0|9] [0|10] [0|11] [0|12] [0|13] [0|14] [0|15] [0|16] [0|17] [0|18] [0|19]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6] [1|7] [1|8] [1|9] [1|10] [1|11] [1|12] [1|13] [1|14] [1|15] [1|16] [1|17] [1|18] [1|19]
[2|2] [2|3] [2|4] [2|5] [2|6] [2|7] [2|8] [2|9] [2|10] [2|11] [2|12] [2|13] [2|14] [2|15] [2|16] [2|17] [2|18] [2|19]
[3|3] [3|4] [3|5] [3|6] [3|7] [3|8] [3|9] [3|10] [3|11] [3|12] [3|13] [3|14] [3|15] [3|16] [3|17] [3|18] [3|19]
[4|4] [4|5] [4|6] [4|7] [4|8] [4|9] [4|10] [4|11] [4|12] [4|13] [4|14] [4|15] [4|16] [4|17] [4|18] [4|19]
[5|5] [5|6] [5|7] [5|8] [5|9] [5|10] [5|11] [5|12] [5|13] [5|14] [5|15] [5|16] [5|17] [5|18] [5|19]
[6|6] [6|7] [6|8] [6|9] [6|10] [6|11] [6|12] [6|13] [6|14] [6|15] [6|16] [6|17] [6|18] [6|19]
[7|7] [7|8] [7|9] [7|10] [7|11] [7|12] [7|13] [7|14] [7|15] [7|16] [7|17] [7|18] [7|19]
[8|8] [8|9] [8|10] [8|11] [8|12] [8|13] [8|14] [8|15] [8|16] [8|17] [8|18] [8|19]
[9|9] [9|10] [9|11] [9|12] [9|13] [9|14] [9|15] [9|16] [9|17] [9|18] [9|19]
[10|10] [10|11] [10|12] [10|13] [10|14] [10|15] [10|16] [10|17] [10|18] [10|19]
[11|11] [11|12] [11|13] [11|14] [11|15] [11|16] [11|17] [11|18] [11|19]
[12|12] [12|13] [12|14] [12|15] [12|16] [12|17] [12|18] [12|19]
[13|13] [13|14] [13|15] [13|16] [13|17] [13|18] [13|19]
[14|14] [14|15] [14|16] [14|17] [14|18] [14|19]
[15|15] [15|16] [15|17] [15|18] [15|19]
[16|16] [16|17] [16|18] [16|19]
[17|17] [17|18] [17|19]
[18|18] [18|19]
[19|19]

Break statement

In [ ]:
for num in range(15):
  if  num==10:
    break
  print(num, end=" ")

0 1 2 3 4 5 6 7 8 9

Continue statement

In [ ]:
for num in range(20):
  if  num==5:
    continue
  print(num, end=" ")

0 1 2 3 4 6 7 8 9 10 11 12 13 14 15 16 17 18 19

# **Beginner Problem solving from Uri Online Judge:**

# [**Uri online Judge:Extremly Basic**](https://)

In [ ]:
a = int(input())
b = int(input())
print ("X =", a + b)

10
9
X = 19

# **Uri online Judge:Area Of a Circle**

In [ ]:
raio = float(input())
area = (raio * raio) * 3.14159 
print("A=%0.4f" %area)

2.00
A=12.5664

# **Uri online Judge:Difference**

In [ ]:
a= int(input())
b= int(input())
c= int(input())
d= int(input())

difference=((a * b) - (c * d))

print("DIFERENCA = %d" %difference)

5
6
7
8
DIFERENCA = -26

# **Uri online Judge:Age in Days**

In [ ]:
n = int(input())

ano = int(n) / 365
mes = (int(n) - (int(ano) * 365)) / 30
dias = int(n) - (int(ano) * 365) - (int(mes) * 30)

print (int(ano), "ano(s)")
print (int(mes), "mes(es)")
print (int(dias), "dia(s)")

400
1 ano(s)
1 mes(es)
5 dia(s)